

<section class="grid-x grid-padding-x cn-alpha-header">
    <section class="cn-alpha-question">
        <h1>What if you could ask GOD one question?</h1>
      </section>
  <div class="large-3 cell logo">
    <img src="assets/img/alpha/Alpha_course_logo.png" alt="Alpha Logo" />
  </div>
  <div class="large-9 cell">
    <div class="content">
      <h1>The Alpha Course</h1>
      <div>
        <span>Starts</span>
        <h2>18 February 2018</h2>
        <span>Information Session</span>
        <h2>4 February 2018</h2>
      </div>
      <a href="#alpha-signup" data-smooth-scroll class="rounded button cn-alpha-button">Signup Now!</a>
    </div>
  </div>
</section>

<section>
  {{>alpha-site-content-section}}
</section>

<section class="cn-alpha-work">
    {{>alpha-site-three-up}}
  </section>

<section class="grid-container cn-alpha-video">
  <h1>Alpha Introduction</h1>
  <video controls class="cn-alpha-video-item">
      <source src="https://d3qaw3da7pyv4i.cloudfront.net/alpha/alpha_film_series_trailer_reduced.mp4" type="video/mp4">
  </video>
</section>

<section id="alpha-signup">
  {{>alpha-us-section}}
</section>
  

