<div class="large-3 cell">
  <img src="assets/img/alpha/Alpha_course_logo.png" alt="Alpha Logo" />
  </div>
  <div class="large-9 cell">
  <div class="content">
    <h1>The Alpha Course</h1>
    <div>
      <span>Starts</span>
      <h2>18 February 2018</h2>
      <span>Information Session</span>
      <h2>4 February 2018</h2>
    </div>
    <a href="#" class="button">Signup Now!</a>
  </div>
</div>

<section>
<h1>What if you could ask GOD one question?</h1>
</section>

<section>
{{>alpha-site-three-up}}
</section>

<section>
  {{>alpha-site-content-section}}
</section>

<section>
  {{>alpha-us-section}}
</section>
  

