<section class="contact-us-section">
  <div class="row medium-unstack">
    <div class="columns contact-us-section-left">
      <h1 class="contact-us-header">Join Us</h1>
      <div>
        <h2>Introductory Session</h2>
        <ul>
          <li>Sunday, 4 February 2018</li>
          <li>7pm - 9pm</li>
          <li>Paseo Baptist Church</li>
        </ul>
      </div>
      <div>
        <h2>Course Starts</h2>
        <ul>
            <li>Sunday, 18 February 2018</li>
            <li>5pm - 7pm</li>
            <li>Paseo Baptist Church</li>
          </ul>
      </div>
      <div class="cn-alpha-our-contacts">
        <h3>Contact Information</h3>
        <dl>
          <dt>Email:</dt>
          <dd><a href="mailto:alpha@paseo.org.za">alpha@paseo.org.za</a></dd>
          <dt>Phone:</dt>
          <dd>+27 71 103 2694</dd>
        </dl>
      </div>
    </div>
    <div class="columns contact-us-section-right">
      <h1 class="contact-us-header">Sign Up</h1>
      <div id="contact-form">
      <form class="contact-us-form js-alpha-contact-form">
        <div class="grid-x grid-padding-x">
          <div class="medium-10 medium-offset-2 cell">
            <label><span>Full Name</span>
              <input type="text" id="alpha-name" placeholder="Full Name">
            </label>
          </div>
          <div class="medium-10 medium-offset-2 cell">
            <label><span>Postal Code</span>
              <input type="text" id="alpha-postal-code" placeholder="Postal Code">
            </label>
          </div>
          <div class="medium-10 medium-offset-2 cell">
            <label><span>Mobile Number</span>
              <input type="tel" id="alpha-mobile-phone" placeholder="Mobile Number">
            </label>
          </div>
          <div class="medium-10 medium-offset-2 cell">
            <label><span>Email</span>
              <input type="email" id="alpha-email" placeholder="Email">
            </label>
          </div>
          <div class="medium-10 medium-offset-2 cell">
              <label><span>Age</span>
                <input type="number" id="alpha-age" placeholder="Age">
              </label>
            </div>
          <div class="medium-8 medium-offset-4 cell">
            <div class="input-group-button">
                <input type="submit" class="button large rounded cn-alpha-button" value="Submit">
              </div>
            </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</section>
