<section class="marketing-site-three-up">
  <h2 class="marketing-site-three-up-headline">How Does It Work?</h2>
  <div class="row medium-unstack">
    <div class="columns">
      <i class="fa fa-microphone" aria-hidden="true"></i>
      <h4 class="marketing-site-three-up-title">Alpha Talk</h4>
      <p class="marketing-site-three-up-desc">A short talk live, on film or a bit of both.</p>
    </div>
    <div class="columns">
        <i class="fa fa-comments" aria-hidden="true"></i>
      <h4 class="marketing-site-three-up-title">Discussion</h4>
      <p class="marketing-site-three-up-desc">A conversation in small groups on the topic.</p>
    </div>
    <div class="columns">
      <i class="fa fa-cutlery" aria-hidden="true"></i>
      <h4 class="marketing-site-three-up-title">Food</h4>
      <p class="marketing-site-three-up-desc">Eat together and get to know each other.</p>
    </div>
  </div>
</section>
