<div class="marketing-site-content-section">
  <div class="marketing-site-content-section-img">
   <img src="assets/img/alpha/LifeIsWorthExploring.png" alt="Life Is Worth Exploring" />
  </div>
  <div class="marketing-site-content-section-block">
    <h3 class="marketing-site-content-section-block-header">Key concepts</h3>
    <ul>
    {{#each keys}}
  <li class="marketing-site-content-section-block-subheader subheader">{{this}}</li>
  {{/each}}
  </ul>
  </div>
  <div class="marketing-site-content-section-block small-order-2 medium-order-1">
    <h3 class="marketing-site-content-section-block-header">Who is it for?</h3>
  <p class="marketing-site-content-section-block-subheader subheader">{{audience}}</p>
  </div>
  <div class="marketing-site-content-section-img small-order-1 medium-order-2">
    <img src="assets/img/alpha/alpha-question-mark-webctr.jpg" alt="" />
  </div>
</div>
