<section class="grid-x grid-padding-x cn-alpha-header">
  <section class="cn-alpha-question">
    <h1>{{event.title}}</h1>
  </section>
  <div class="large-3 cell logo">
    <p>{{event.description}}</p>
  </div>
    <div class="large-9 cell">
      <div class="content">
        <!-- <span>{{event.byline}}</span> -->
        <div>
          <span>Date</span>
          <h2>{{event.date}}</h2>
          <span>Time</span>
          <h2>{{event.time}}</h2>
        </div>
        <a href="#alpha-signup" data-smooth-scroll class="rounded button cn-alpha-button">Signup Now!</a>
      </div>
  </div>
</section>
<section>
  {{>event-content keys=event.keys audience=event.audience}}
</section>

<section class="cn-alpha-work">
  <h2>Facilitator</h2>
  <dl>
  <dt>Name:</dt>
  <dd>{{event.facilitator.name}}</dd>
  <dt>About:</dt>
  <dd>{{event.facilitator.bio}}</dd>
</dl>
</section>

<section id="alpha-signup">
  {{>event-us-section event=event}}
</section>
