<div class="marketing-site-content-section">
  <div class="marketing-site-content-section-img">
   <img src="assets/img/alpha/LifeIsWorthExploring.png" alt="Life Is Worth Exploring" />
  </div>
  <div class="marketing-site-content-section-block">
    <h3 class="marketing-site-content-section-block-header">Who should attend?</h3>
    <p class="marketing-site-content-section-block-subheader subheader">Alpha is a series of interactive sessions that freely explore the Christian Faith.</p>
  </div>
  <div class="marketing-site-content-section-block small-order-2 medium-order-1">
    <h3 class="marketing-site-content-section-block-header">Who is it for?</h3>
    <p class="marketing-site-content-section-block-subheader subheader">Alpha is for anyone who is curious or needs refreshing. The talks are designed to encourage conversation and explore the Christian Faith in a friendly, open and informal environment. No question is out of bounds. You are free to discuss as much or as little as you wish.</p>
  </div>
  <div class="marketing-site-content-section-img small-order-1 medium-order-2">
    <img src="assets/img/alpha/alpha-question-mark-webctr.jpg" alt="" />
  </div>
</div>
