<footer class="marketing-site-footer">
  <div class="row medium-unstack">
    <div class="medium-4 columns">
      <h4 class="marketing-site-footer-name">{{title}}</h4>
      <p>{{description}}</p>
      <!--<ul class="menu marketing-site-footer-menu-social simple">-->
        <!--<li><a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>-->
         <!--<li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>-->
         <!--<li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>-->
      <!--</ul>-->
      <div>{{>googlemap}}</div>
    </div>
    <div class="medium-4 columns">
       <h4 class="marketing-site-footer-title">Contact Info</h4>
      <div class="marketing-site-footer-block">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <ul>
          {{#each location}}
          <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
      <div class="marketing-site-footer-block">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <p>{{phone}}</p>
      </div>
      <div class="marketing-site-footer-block">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <p>{{email}}</p>
      </div>
    </div>
    <div class="medium-4 columns">
      <h4 class="marketing-site-footer-title">Newsletter Signup</h4>
      <div class="row">
        <form class="columns">
          <div class="input-group">
            <span class="input-group-label"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
            <input class="input-group-field" type="text" placeholder="email address">
          </div>
          <input type="submit" class="button" value="Sign-up">
        </form>
        <!--<div class="input-group">-->
          <!--<span class="input-group-label">Email</span>-->
          <!--<input class="input-group-field" type="text">-->
          <!--<div class="input-group-button">-->
            <!--<input type="submit" class="button" value="Submit">-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </div>
  <div class="marketing-site-footer-bottom">
    <div class="row large-unstack align-middle">
      <div class="column">
        <p>&copy; 2017 Paseo Baptist Church</p>
      </div>
      <div class="column">
        <ul class="menu marketing-site-footer-bottom-links">
          <li><a href="#services">Services</a></li>
          <li><a href="#events">Events</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
