<div class="marketing-site-features">
  <h2 class="marketing-site-features-headline">{{feature-headline}}</h2>
  <p class="marketing-site-features-subheadline subheader">{{feature-subheader}}</p>
  <div class="row">
    {{#each services}}
    <div class="small-12 medium-3 columns">
      <i class="fa fa-snowflake-o" aria-hidden="true"></i>
      <h4 class="marketing-site-features-title">{{title}}</h4>
      <p class="marketing-site-features-desc">{{day}}<br/>{{time}}</p>
    </div>
    {{/each}}
  </div>
</div>
