<div class="title-bar" data-responsive-toggle="top-bar-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="top-bar-menu"></button>
    <div class="title-bar-title">Menu</div>
</div>
<div data-sticky-container>
<nav class="top-bar topbar-responsive" id="top-bar-menu" data-sticky data-options="marginTop:0;" style="width:100%">
    <div class="top-bar-left">
        <ul class="menu simple vertical medium-horizontal data-smooth-scroll">
            <li class="menu-text topbar-responsive-logo"><a href="{{root}}">{{title}}</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#events">Events</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu simple vertical medium-horizontal">
            <li><a href="#">Daycare and Preschool</a></li>
            <li><a href="#">The Martins</a></li>
        </ul>
    </div>
</nav>
</div>
